#F-h { /* gọi id*/
    color: blue;
    font-size: 40px;
}

.th-h { /* gọi class*/
    color: red;
    font-size: 40px;
}

/* đặt biến */
:root {
    --text-color: yellow;
}

h3 {
    --my-color: green;
    color: var(--my-color);
}
h4 {
    color: var(--text-color);
}